*{
    margin: 0;
    padding: 0;
}
body{
    padding: 1rem ;
}
.container{
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: #333 dotted 1px;
  justify-content: space-between;
  align-items: center;
  
} 
#index ul{
    display: flex;
    padding-left:200px;
} 
#index ul li{
    list-style: none;
    padding: 10px;
}
#index ul li a{
    text-decoration: none;
    color: black;
} 
#index ul li i{
    padding: 50pxs;
}    
 .first{
    position: relative;
    left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px  0px;
}
 .first h1{
    font-size: xx-large;
    padding-bottom: 5px;
}
#open {
   display: grid;
   grid-template-columns:repeat(2, 500px) ;   
   grid-gap: 20px; 
   padding-left: 300px;
   padding-bottom: 20px;
}
.card{
    padding: 1rem 3rem;
    height:200px;
    width: px;
    background: blue;
    border-radius: 5px;
    color: white;
}
.card p{
    padding-bottom: 2rem;
}
.card a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.empty{
    position: relative;
    left: 300px;
    height: 200px;
    width: 500px;
    align-content: center ;
    border-radius: 5px;
    background: lightgray;
}
/* home*/
.logo{
     display: flex;
     justify-content: space-between;
} 
.info{
    display: flex;
    justify-content: space-around;
}
.info li{
    list-style: none;
    padding: 5px;
}
.section-home{
    display: grid;
    grid-template-columns:repeat(2, 500px)
    
  /* display: flex;
   justify-content: space-between;*/
}
.section-home1{
    display: grid;
    grid-template-columns: repeat(3, 40px);
    grid-gap: 70px;
    border: #333 solid 1px;
    height: 300px;
    width: 400px;
    padding-left: 70px;
    padding-top: 30px;
}
.section-home2{
    padding-left: 50px;
}
.btn{
    border: none;
    padding: 20px 30px;
    font-size: 15px;
    border-radius: 5px;
}
.section-home2 h3{
    font-family: sans-serif;
    font-style: bold;
}
.card1{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-gap: 5px;
}
.card1 div{
    border: #333 solid 1px;
    padding: 10px;
}
.card2{
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-gap: 5px;
}
.card2 div{
    border: #333 solid 1px;
    padding: 10px;
}
.icons1{
    background-color: teal;
    padding: 5px;
    align-self: center;
    border-radius: 5px;
}
.icons2{
    background-color: dimgray;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
}